.hero-wrapper
  .hero-content
    .hero-title Ordering food
    .banner= image_tag "banner.png"
    .hero-description Maecenas vel tellus at magna sagittis veneatis.Integer pretium auctor magna, egestas justo gravida vitae.In lacinia auctor auctor
