<div class="hero-wrapper">
  <div class="hero-content">
    <div class="hero-title">
      Ordering food
    </div>
    <div class="banner">
      <%= image_tag "banner.png" %>
    </div>
    <div class="hero-description">
      Maecenas vel tellus at magna sagittis veneatis.Integer pretium auctor magna, egestas justo gravida
      vitae.In lacinia auctor auctor
    </div>
  </div>
</div>
