.products-wrapper 
  .plates-container 
    %ul#plates-list 
      - @products.each do |product| 
        %li.plate 
          %p= image_tag product.image, :class => "plate-img"
          %p.dish=product.title
          %p.meal-type=product.description
          %p.price=product.price
