.products-wrapper 
  .plates-container 
    %ul#plates-list 
      - @products.each do |product| 
        %li.plate 
          %p.plate-img
            = cl_image_tag(product.image.key)
          %p.dish= product.title
          %p.meal-type= product.description
          %p.price= product.price
