<div class="container">
  <div class="hero-wrapper">
  <header>
    <div class="logo">
      <div class="logo-mark">
        <%= image_tag "logo.svg" %>
      </div>
      <div class="logo-text">
        <div>EUREKA</div>
        <div>CAFFE</div>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACTS</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero-content">
    <div class="hero-title">
      Ordering food
    </div>
    <div class="banner">
      <%= image_tag "banner.png" %>
    </div>
    <div class="hero-description">
      Maecenas vel tellus at magna sagittis veneatis.Integer pretium auctor magna, egestas justo gravida
      vitae.In lacinia auctor auctor
    </div>
  </div>
</div>

<div class="filter-wrapper">
  <div class="search-menu">
    <ul>
      <li>CATEGORY</li>
      <li>SORTING</li>
      <li>VEGETARIAN</li>
    </ul>
  </div>
  <div class="slider-wrapper">
    <label for="points">PRICE</label>
    <div id="first-price"></div>
    <div id="slider"></div>
    <div id="second-price"></div>
  </div>
</div>