-# UserMailer#account_activation
Hi = @user.name
Welcome to the Eureka caffe! Click on the link below to activate your account:

-# = @greeting + ", find me in app/views/user_mailer_mailer/account_activation.text.haml"

= "#{ENV['BASE_URL']}/api/v1/confirm_email/#{@user.activation_token}"
