.orders-container {
  width: calc(100% - 250px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  padding: 2em 0;

  h1 {
    font-weight: 700;
  }

  ul {
    margin: 0;
    width: 30%;

    li {
      margin: 3em 0;
      p {
        margin: 0;
      }

      header {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color-grey, 0.3);
      }

      .order-info {
        display: flex;
        padding: 1em 2em;
        margin: 0 1.5em;
        justify-content: space-between;
        background-color: rgba($color-grey, 0.5);
        align-items: center;

        img {
          width: 30px;
        }
      }
    }
  }
}
