.admin-container
  %header
    %h1= "Hi, #{current_user.name}"
    = image_tag 'dashboard/administration.png'
    .animations
      %p.orders HANDLE ORDERS
      %p.users MANAGE USERS
  .admin-content
    %h2 This is the admin dashboard
    %p Here you can manage orders and users
