.hero-content {
  color: $color-white;
  padding-top: 7em;
  width: 40%;
  margin: 0 auto;
  text-align: center;

  .hero-title {
    align-self: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 1em;
  }

  .hero-description {
    padding: 3em 0 6em 0;
    font-family: "Nunito", sans-serif;
  }

  .banner {
    img {
      object-fit: cover;
      width: 100%;
      height: 15px;
    }
  }
}

.filter-wrapper {
  display: flex;
  vertical-align: top;
  background-color: $color-filter;
  color: $color-black;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  justify-content: space-around;

  .search-menu {
    display: flex;
    align-items: center;

    .filters {
      display: flex;

      a {
        color: $color-black;
        font-weight: 600;
        margin-left: 2em;
      }

      .filter {
        display: flex;
        padding-right: 0.6em;
        background-color: rgba($color-black, 0.2);
      }

      .filter::before {
        content: "";
        background-image: asset_url("x-mark.svg");
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding: 0.6em;
      }
    }

    ul {
      margin: 0;
      display: flex;
      padding: 0;

      li {
        line-height: 50px;
        padding: 0 1.5em;
        height: 50px;
        text-align: center;
      }

      li:after {
        content: "";
        background: asset-url("drop-down.svg") no-repeat;
        background-size: 9px 9px;
        background-position: 50% 50%;
        padding-left: 1.7em;
      }

      li:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .dropdown-menu.show {
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 13px;

        a {
          color: $color-black;
          padding: 1em 0.5em;
        }

        a:hover {
          background-color: rgba($color-black, 0.2);
        }
      }
    }
  }

  .slider-wrapper {
    display: flex;
    align-items: center;

    label {
      padding-right: 1.5em;
      position: relative;
    }

    #slider {
      width: 200px;
      height: 5px;

      .ui-slider-handle {
        background: $color-grey asset-url("handle.svg") no-repeat scroll 50% 50%;
        border: none;
        outline: none;
        box-shadow: -1px 1px 3px $color-grey-dark;
      }

      .ui-widget-header {
        background: $color-orange;
      }

      &.ui-widget-content {
        background: $color-grey;
      }

      &.ui-widget.ui-widget-content {
        border: none;
      }
    }

    #first-price {
      padding-right: 2em;
      font-weight: 500;
    }

    #second-price {
      padding: 0 2em;
      font-weight: 500;
    }
  }
}
