.products-wrapper {
  margin-bottom: 2em;

  .plates-container {
    padding: 0 10em;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin: 0;
      padding: 3em;
      display: grid;
      grid-template-columns: repeat(4, 300px);

      li {
        -webkit-transition: -webkit-transform 0.4s;
        transition-delay: 250ms;
        transition: transform 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 2px solid $color-border;
        border-bottom: 2px solid $color-border;
        padding: 0.5rem;

        .plate-img {
          img {
            width: 200px;
            height: 200px;
          }
        }

        .dish {
          color: $color-black;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0.3em;
        }

        .meal-type {
          color: $color-grey-dark;
          font-size: 13px;
          margin-bottom: 0.5em;
          font-weight: 500;
        }

        .price {
          color: $color-orange;
          font-weight: 800;
        }
      }

      li:nth-last-child(4n + 1):nth-last-child(-n + 4) {
        border-bottom: none;
      }

      li:last-child {
        border-right: none;
      }

      li:nth-child(4n) {
        border-right: none;
      }

      li:nth-child(4n + 1):nth-last-child(-n + 4) {
        border-bottom: none;
      }

      li:nth-child(4n + 1):nth-last-child(-n + 4) ~ li {
        border-bottom: none;
      }

      li:hover {
        transform: scale(1.2);
        background-color: $color-white;
        border: 2px solid rgba(247, 247, 247, 0.2);
        box-shadow: -1px 1px 10px rgba(169, 169, 169, 0.6);
      }

      .plate {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3em;
      }
    }
  }
}

.new-product {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin-top: 1em;
    font-size: 18px;
    font-family: "Nunito";
    font-weight: 600;
    color: $color-black;
  }

  a:hover {
    text-decoration: none;
    outline: none;
  }
}

.page-item.active .page-link {
  color: $color-grey;
  background-color: transparent;
  border: 0;
}

.page-link {
  border: 0;
  font-size: 24px;
}

ul.pagination {
  margin: 0;
}

.pagination {
  justify-content: center;
  padding: 0 2em;

  .page-link {
    color: $color-orange;
    font-weight: 700;
    margin: 0 0.5em;
  }

  li:first-child {
    display: none;
  }

  li:last-child {
    display: none;
  }
}

.pagins-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
