.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 250px);
  margin-left: auto;

  p {
    margin: 0;
  }

  header {
    padding-top: 1.5em;

    h1 {
      color: rgba($color-grey-dim, 0.8);
      text-align: center;
      font-weight: 700;
      padding-bottom: 1em;
    }

    img {
      width: 500px;
      float: right;
    }
  }

  .animations {
    font-size: 24px;
    font-weight: 700;

    .orders {
      color: #462793;
      position: relative;
      top: -200px;
      width: 50%;
      animation-name: orders;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    .users {
      color: #960c4b;
      position: relative;
      top: -180px;
      width: 50%;
      animation-name: users;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      text-align: right;
    }
  }

  .admin-content {
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: 150px;

    h2 {
      font-weight: 700;
    }

    p {
      margin-top: 1em;
      color: rgba($color-grey-dim, 0.8);
    }
  }
}

@keyframes orders {
  0% {
    left: 0px;
    opacity: 0;
    border: none;
  }

  89% {
    border: none;
  }

  90% {
    border-bottom: 3px solid #cdb6f2;
  }

  to {
    left: -220px;
    opacity: 1;
    border-bottom: 3px solid #cdb6f2;
  }
}

@keyframes users {
  0% {
    right: -220px;
    opacity: 0;
    border: none;
  }

  89% {
    border: none;
  }

  90% {
    border-bottom: 3px solid #e64786;
  }

  100% {
    right: -480px;
    opacity: 1;
    border-bottom: 3px solid #e64786;
  }
}

#product_description {
  height: 100px;
}
