.nav-links {
  color: $color-black;
  text-align: center;

  a {
    color: $color-black;
  }

  a:hover {
    color: $color-black;
    text-decoration: none;
  }
}

.users-container {
  width: calc(100% - 250px);
  background-color: rgba($color-grey, 0.2);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  h1 {
    font-weight: 700;
    padding-top: 1em;
  }

  .users {
    list-style: none;
    padding: 0;
    width: 40%;

    li {
      overflow: auto;
      padding: 2em 1em;
      background-color: $color-white;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2.5em;

      .name {
        font-size: 19px;
      }

      a {
        color: $color-black;
      }

      a:hover {
        text-decoration: none;
        color: $color-black;
      }
    }

    .infos {
      display: flex;
      justify-content: space-around;
      padding: 1em 0;
      font-weight: 500;
      background-color: rgba($color-black, 0.05);

      img {
        width: 15px;
      }
    }
  }
}
