.form {
  color: $color-black;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;

  .fields {
    display: flex;
    flex-direction: column;
    
    .form-group {
      color: $color-black;
      font-size: 12px;
      font-weight: 700;
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 1.2em 0;

      label {
        margin-bottom: 0.3em;
      }

      .field {
        border: 0;
        border-bottom: 2px solid $color-grey;
        background: transparent;
      }

      .field:focus {
        border-width: 3px;
        outline: 0;
        border-bottom: 2px solid $color-orange;
      }
    }

    .actions {
      display: flex;
      align-self: center;
    }
  }
}

h1 {
  color: $color-black;
}

.product-shown {
  display: flex;
  flex-direction: column;
  align-items: center;

  .back-link {
    color: $color-black;
    font-size: 30px;
  }
}
