.form {
  background-color: rgba($color-filter, 0.5);
  color: $color-black;
  width: 30%;
  margin: 2em auto;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;

    p {
      font-size: 20px;
      font-weight: 600;
    }

    .fields {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        color: $color-black;
        font-size: 12px;
        font-weight: 700;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 1.2em 0;

        label {
          margin-bottom: 0.3em;
        }

        .field {
          border: 0;
          border-bottom: 2px solid $color-grey;
          background: transparent;
        }

        .field:focus {
          border-width: 3px;
          outline: 0;
          border-bottom: 2px solid $color-orange;
        }
      }

      div:nth-last-child(2) {
        margin-bottom: 4em;

        .field {
          border: 0;
        }

        .last-border {
          border-bottom: 2px solid $color-grey;
        }
      }

      .actions {
        display: flex;
        align-self: center;
      }
    }
  }

  .product-shown {
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-link {
      color: $color-black;
      font-size: 30px;
    }
  }
}
