@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");
$color-blue: #659dbd;
$color-red: #dc143c;
$color-orange: #e89853;
$color-button: #eeb380;
$color-orange-darken: #e27d26;
$color-grey: #d3d3d3;
$color-grey-dark: #a9a9a9;
$color-white: #fff;
$color-black: #000;
$color-grey-dim: #333333;
$color-filter: #f0f0f2;
$color-border: #e7e7e7;
$color-footer: #bababa;
$color-black-satin: #323334;
$color-dashboard: #3f3f3f;
$color-blue-navy: #4772ea;
$color-online-status: #1c7230;
