.menu-item {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #581515;
  font-weight: 800;
  padding: 0 0.7em;
}

.menu-item-disabled {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #6e5e5e;
  font-weight: 800;
  padding: 0 0.7em;
}

.card-border-medium {
  border-radius: 10px !important;
}
