// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
$color-blue: #659dbd;
$color-red: #dc143c;
$color-orange: #e89853;
$color-grey: #d3d3d3;
$color-grey-dark: #a9a9a9;
$color-white: #fff;
$color-black: #000;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.hero-wrapper {
    background: asset-url("bg.jpg");
    background-size: cover;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            padding: 2.5em 0;
            font-size: 14px;

            .logo-mark {
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .logo-text {
                padding-left: 0.7em;
                font-weight: 600;
            }
        }

        nav ul {
            display: flex;
            margin: 0;
            padding: 0;
            padding: 2.5em 0em;
            font-size: 14px;

            li:not(:first-child):before {
                content: "";
                background: asset-url("menudot.png") no-repeat;
                opacity: 1;
                background-size: 4px 4px;
                background-position: 50% 50%;
                padding: 0 1em;
            }
        }
    }
}

.hero-content {
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    .hero-title {
        align-self: center;
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 1em;
    }

    .hero-description {
        padding: 3em 0 6em 0;
        font-family: "Nunito", sans-serif;
    }

    .banner {
        img {
            object-fit: cover;
            width: 100%;
            height: 15px;
        }
    }
}

.filter-wrapper {
    display: flex;
    vertical-align: top;
    background-color: #f0f0f2;
    color: black;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    justify-content: space-around;

    .search-menu {
        ul {
            margin: 0;
            display: flex;
            padding: 0;

            li {
                line-height: 50px;
                padding: 0 1.5em;
                height: 50px;
            }

            li:after {
                content: "";
                background: asset-url("drop-down.svg") no-repeat;
                background-size: 9px 9px;
                background-position: 50% 50%;
                padding: 0 1em;
            }

            li:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .slider-wrapper {
        display: flex;
        align-items: center;

        label {
            padding-right: 1.5em;
            position: relative;
        }

        #slider {
            width: 200px;
            height: 5px;

            .ui-slider-handle {
                background: $color-grey asset-url("handle.svg") no-repeat scroll 50% 50%;
                border: none;
                outline: none;
                box-shadow: -1px 1px 3px $color-grey-dark;
            }

            .ui-widget-header {
                background: $color-orange;
            }

            &.ui-widget-content {
                background: $color-grey;
            }

            &.ui-widget.ui-widget-content {
                border: none;
            }
        }

        #first-price {
            padding-right: 2em;
            font-weight: 500;
        }

        #second-price {
            padding: 0 2em;
            font-weight: 500;
        }
    }
}

.products-wrapper {
    margin-bottom: 2em;
    .plates {
        padding: 0 10em;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            margin: 0;
            padding: 3em;
            display: grid;
            grid-template-columns: repeat(4, 300px);

            li {
                -webkit-transition: -webkit-transform 0.4s;
                transition-delay: 250ms;
                transition: transform 0.5s;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-right: 2px solid #e7e7e7;
                border-bottom: 2px solid #e7e7e7;
                padding: 0.5rem;

                .plate-img {
                    width: 200px;
                    height: 200px;
                }

                .dish {
                    color: black;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 0.3em;
                }

                .meal-type {
                    color: grey;
                    font-size: 13px;
                    margin-bottom: 0.5em;
                }

                .price {
                    color: orange;
                    font-weight: 800;
                }
            }

            li:nth-last-child(4n + 1):nth-last-child(-n + 4) {
                border-bottom: none;
            }

            li:last-child {
                border-right: none;
            }

            li:nth-child(4n) {
                border-right: none;
            }

            li:nth-child(4n + 1):nth-last-child(-n + 4) {
                border-bottom: none;
            }

            li:nth-child(4n + 1):nth-last-child(-n + 4) ~ li {
                border-bottom: none;
            }

            li:hover {
                transform: scale(1.2);
                background-color: white;
                border: 2px solid rgba(247, 247, 247, 0.2);
                box-shadow: -1px 1px 10px rgba(169, 169, 169, 0.6);
            }

            .plate {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 3em;
            }
        }
    }
}

.new-product {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin-top: 1em;
        font-size: 18px;
        font-family: "Nunito";
        font-weight: 600;
        color: $color-black;
    }
}

.form {
    color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fields {
        display: flex;
        flex-direction: column;
    }
    .field {
        margin: 1em 2em;
        display: flex;
        justify-content: space-between;
    }
    .actions {
        display: flex;
        align-self: center;
    }
}

h1 {
    color: black;
}

.product-shown {
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-link {
        color: black;
        font-size: 30px;
    }
}

footer {
    img {
        height: 100%;
        width: 100%;
    }
}
