<div class="products-wrapper">
  <div class="plates">
    <ul id="products">
      <li class="plate">
        <%= image_tag "default.png", :class => "plate-img"%>
        <p class="dish">WOLFPACK</p>
        <p class="meal-type">Entrees</p>
        <p class="price">$ 30.00</p>
      </li>
      <li class="plate">
        <%= image_tag "default.png", :class => "plate-img"%>
        <p class="dish">WOLFPACK</p>
        <p class="meal-type">Entrees</p>
        <p class="price">$ 30.00</p>
      </li>
      <li class="plate">
        <%= image_tag "default.png", :class => "plate-img"%>
        <p class="dish">WOLFPACK</p>
        <p class="meal-type">Entrees</p>
        <p class="price">$ 30.00</p>
      </li>
      <li class="plate">
        <%= image_tag "default.png", :class => "plate-img"%>
        <p class="dish">WOLFPACK</p>
        <p class="meal-type">Entrees</p>
        <p class="price">$ 30.00</p>
      </li>
    </ul>
  </div>
</div>