footer {
  border-top: 1px solid $color-footer;

  .footer-wrapper {
    width: 70%;
    margin: 1.5em auto;

    nav {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
      }

      li {
        margin-left: 2em;       
        font-size: 12px;
        font-weight: 700;
        
        a {
          color: $color-black;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }

    hr {
      margin-top: 1em;
      border: none;
      border-bottom: 1px dotted $color-footer;
      height: 1px;
    }

    .social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 12px;
        color: $color-footer;
      }
    }

    .media {
      img {
        margin-left: 1em;
      }
    }
  }
}

.content {
  flex: 1;
}
