* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: $color-black;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: $color-white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hero-wrapper {
  background: asset-url("bg.jpg");
  background-size: cover;
}

h1 {
  color: $color-black;
}

.alert {
  margin: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  color: $color-white;
  box-shadow: none !important;
  outline: 0;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: $color-white;
  border: 2px solid $color-button;
}
