.navbar,
.navbar-absolute {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
    }

    .logo-container {
        margin-left: 10em;
        display: flex;
        font-size: 12px;

        .logo-mark {
            img {
                width: 35px;
                height: 35px;
            }
        }

        .logo-text {
            color: $color-white;
            padding-left: 0.7em;
            font-weight: 600;
        }
    }
    nav {
        display: flex;
        align-items: center;

        ul {
            margin: 0;
            margin-right: 2em;
            margin-top: 4px;
            display: flex;
            font-size: 14px;
            font-weight: 600;

            li:not(:first-child):before {
                content: "";
                background: asset-url("menudot.png") no-repeat;
                background-size: 4px 4px;
                background-position: 50% 50%;
                padding: 0 1em;
            }

            a {
                display: inline-block;
            }

            a:hover {
                color: $color-footer;
            }

            a:after {
                content: " ";
                display: block;
                width: 0;
                height: 2px;
                background: $color-orange;
                transition: width 0.3s;
            }

            a:hover:after {
                width: 100%;
            }
        }

        .dropdown {
            display: flex;
            cursor: pointer;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            .guest { 
                margin-right: 2em;
                margin-right: 6em;
            }

            .user {
                margin-left: 0.6em; 
            }

            img:hover {
                filter: invert(0.2);
            }

            .dropdown-menu {
                min-width: 40px;
                background-color: $color-black-satin;

                a {
                    font-size: 13px;
                    color: $color-white;
                    line-height: 0;
                }

                a:not(:first-child) {
                    margin-top: 15px;
                }

                a:hover {
                    background-color: rgba($color-black-satin, 0);
                }
            }

            .cart { 
                padding: 0 2em;
            }
        }
    }
}

.navbar {
    padding: 0;
    background-color: rgba($color-black-satin, 0.8);
    box-shadow: 4px 0px 3px $color-black;
}

.navbar-absolute {
    position: absolute;
    width: 100%;
}
