.navbar,
.navbar-absolute {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 2.5em 0;
        font-size: 14px;

        .logo-mark {
            img {
                width: 40px;
                height: 40px;
            }
        }

        .logo-text {
            color: $color-white;
            padding-left: 0.7em;
            font-weight: 600;
        }
    }

    nav ul {
        display: flex;
        padding: 2.5em 0em;
        font-size: 14px;

        li:not(:first-child):before {
            content: "";
            background: asset-url("menudot.png") no-repeat;
            background-size: 4px 4px;
            background-position: 50% 50%;
            padding: 0 1em;
        }

        a:hover {
            color: $color-white;
            border-bottom: 1px solid $color-orange;
            text-decoration: none;
        }
    }
}

.navbar {
    background-color: $color-grey-dim;
}

.navbar-absolute {
    position: absolute;
    width: 100%;
}
