.navbar,
.navbar-absolute {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
    }

    .logo-container {
        margin-left: 10em;
        display: flex;
        font-size: 12px;
        align-items: center;

        .logo-mark {
            img {
                width: 35px;
                height: 35px;
            }
        }

        .logo-text {
            color: $color-white;
            padding-left: 0.7em;
            font-weight: 600;
        }
    }
    nav {
        display: flex;
        align-items: center;

        ul {
            margin: 0;
            margin-right: 2em;
            margin-top: 2px;
            display: flex;
            font-size: 14px;
            font-weight: 600;

            li:not(:first-child):before {
                content: "";
                background: asset-url("menudot.png") no-repeat;
                background-size: 4px 4px;
                background-position: 50% 50%;
                padding: 0 1em;
            }

            a {
                display: inline-block;
            }

            a:hover {
                color: $color-footer;
            }
        }

        .dropdown {
            display: flex;
            cursor: pointer;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            .guest {
                margin-right: 2em;
                margin-right: 6em;
            }

            .user {
                margin-left: 0.6em;
            }

            img:hover {
                filter: invert(0.2);
            }

            .dropdown-menu {
                min-width: 150px;
                background-color: $color-black-satin;

                a {
                    font-size: 15px;
                    color: $color-white;
                    line-height: 0;
                }

                a:not(:first-child) {
                    margin-top: 15px;
                }

                a:hover {
                    background-color: rgba($color-black-satin, 0);
                }
            }

            .dropdown-item {
                text-align: center;
                padding: 0.5rem 1rem;
            }

            .cart,
            .cart-notify {
                margin: 0 2em;
            }

            .badge {
                position: absolute;
                top: -4px;
                right: 42px;
                border-radius: 50%;
                background: red;
                color: white;
            }
        }
    }

    .current-user {
        margin: 0;
    }
}

.navbar {

    div.dropdown-menu.show {
        left: -2.7rem !important;
        top: 30px !important;
    }

    a {
        color: $color-black;
    }

    .dropdown {
        img {
            filter: invert(1);
        }

        img:hover {
            filter: invert(0.1);
        }
    }

    .logo-text {
        div {
            font-weight: 700;
        }

        #eureka {
            color: $color-black;
        }

        #caffe {
            color: $color-orange;
        }
    }
}

.navbar-absolute {
    position: absolute;
    width: 100%;

    div.dropdown-menu.show {
        left: -2rem !important;
        top: 5px !important;
    }

    .current-user {
        color: $color-white;
    }
}

.current-page {
    color: $color-orange;
}
