.user-container {
  .user-content {
    padding: 3em 5em;

    .order {
      font-weight: 600;
      font-size: 18px;
    }

    .order::after {
      content: "";
      width: 0.4em;
      height: 0.4em;
      border: solid $color-grey;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-left: 0.6em;
      margin-bottom: 3px;
      transform: rotate(45deg);
    }

    .illustration {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 400px;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        font-weight: 600;

        a {
          color: rgba($color-grey-dim, 0.6);
        }

        a:hover {
          color: rgba($color-black, 0.6);
        }
      }
    }
  }

  .orders {
    font-weight: 600;
    background-color: rgba($color-grey, 0.6);
    display: flex;
    padding: 1.3em;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 1.5em;
    margin-left: 2em;

    div {
      color: $color-black;
    }

    div:hover {
      color: $color-black;
    }
  }
}
