-# !!!
-# %html
-#   %head
-#     %title= full_title(yield(:title))
-#     = csrf_meta_tags
-#     = csp_meta_tag
-#     = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
-#     = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
-#     = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css'
-#     = favicon_link_tag asset_path('logo.svg')
-#   %body
-#     = render partial: 'shared/navbar' unless @disable_nav
-#     - flash.each do |message_type, message|
-#       %div{class: "alert alert-#{message_type}"}= message
-#     %main.content= yield
-#     = render partial: 'shared/footer' unless @disable_foote